
.gitattributes
.vs/VSIXFineUIFormatter/v16/.suo
.vs/VSIXFineUIFormatter/v16/Server/sqlite3/db.lock
.vs/VSIXFineUIFormatter/v16/Server/sqlite3/storage.ide
.vs/VSIXFineUIFormatter/v16/Server/sqlite3/storage.ide-shm
.vs/VSIXFineUIFormatter/v16/Server/sqlite3/storage.ide-wal
FineUICoder/bin/Debug/FineUICoder.exe
FineUICoder/bin/Debug/FineUICoder.pdb
FineUICoder/bin/Debug/RazorFormatter.exe
FineUICoder/bin/Debug/RazorFormatter.pdb
FineUICoder/obj/Debug/DesignTimeResolveAssemblyReferences.cache
FineUICoder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FineUICoder/obj/Debug/FineUICoder.exe
FineUICoder/obj/Debug/FineUICoder.MainFrm.resources
FineUICoder/obj/Debug/FineUICoder.pdb
FineUICoder/obj/Debug/FineUICoder.Properties.Resources.resources
FineUICoder/obj/Debug/FinUICoder.csproj.CoreCompileInputs.cache
FineUICoder/obj/Debug/FinUICoder.csproj.FileListAbsolute.txt
FineUICoder/obj/Debug/FinUICoder.csproj.GenerateResource.cache
FineUICoder/obj/Debug/FinUICoder.csprojAssemblyReference.cache
FineUICoder/obj/Debug/RazorFormatter.csproj.CoreCompileInputs.cache
FineUICoder/obj/Debug/RazorFormatter.csproj.FileListAbsolute.txt
FineUICoder/obj/Debug/RazorFormatter.csproj.GenerateResource.cache
FineUICoder/obj/Debug/RazorFormatter.csprojAssemblyReference.cache
FineUICoder/obj/Debug/RazorFormatter.exe
FineUICoder/obj/Debug/RazorFormatter.MainFrm.resources
FineUICoder/obj/Debug/RazorFormatter.pdb
FineUICoder/obj/Debug/RazorFormatter.Properties.Resources.resources
FineUICoder/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
FineUICoder/obj/Release/FinUICoder.csproj.CoreCompileInputs.cache
FineUICoder/obj/Release/FinUICoder.csprojAssemblyReference.cache
FineUICoder/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
VSIXFineUIFormatter/bin/Debug/extension.vsixmanifest
VSIXFineUIFormatter/bin/Debug/VSIXFineUIFormatter.dll
VSIXFineUIFormatter/bin/Debug/VSIXFineUIFormatter.pkgdef
VSIXFineUIFormatter/bin/Debug/VSIXFineUIFormatter.vsix
VSIXFineUIFormatter/obj/Debug/CodeFormatter1Package.cto
VSIXFineUIFormatter/obj/Debug/createTemplateManifests.cache
VSIXFineUIFormatter/obj/Debug/ctoFiles.json
VSIXFineUIFormatter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VSIXFineUIFormatter/obj/Debug/extension.vsixmanifest
VSIXFineUIFormatter/obj/Debug/files.json
VSIXFineUIFormatter/obj/Debug/mergeCto.cache
VSIXFineUIFormatter/obj/Debug/resources.json
VSIXFineUIFormatter/obj/Debug/VSCT.read.1.tlog
VSIXFineUIFormatter/obj/Debug/VSCT.write.1.tlog
VSIXFineUIFormatter/obj/Debug/VSIXFineUIFormatter.csproj.CoreCompileInputs.cache
VSIXFineUIFormatter/obj/Debug/VSIXFineUIFormatter.csproj.FileListAbsolute.txt
VSIXFineUIFormatter/obj/Debug/VSIXFineUIFormatter.csproj.GenerateResource.cache
VSIXFineUIFormatter/obj/Debug/VSIXFineUIFormatter.csproj.VsixDeployedFileListAbsolute.txt
VSIXFineUIFormatter/obj/Debug/VSIXFineUIFormatter.csprojAssemblyReference.cache
VSIXFineUIFormatter/obj/Debug/VSIXFineUIFormatter.dll
VSIXFineUIFormatter/obj/Debug/VSIXFineUIFormatter.latest.pkgdef
VSIXFineUIFormatter/obj/Debug/VSIXFineUIFormatter.pdb
VSIXFineUIFormatter/obj/Debug/VSIXFineUIFormatter.pkgdef
VSIXFineUIFormatter/obj/Debug/VSPackage.resources
VSIXFineUIFormatter/obj/Debug/VSPackage.resources.original
VSIXFineUIFormatter/obj/project.assets.json
VSIXFineUIFormatter/obj/Release/VSIXFineUIFormatter.csproj.CoreCompileInputs.cache
VSIXFineUIFormatter/obj/VSIXFineUIFormatter.csproj.nuget.cache
VSIXFineUIFormatter/obj/VSIXFineUIFormatter.csproj.nuget.dgspec.json
VSIXFineUIFormatter/obj/VSIXFineUIFormatter.csproj.nuget.g.props
VSIXFineUIFormatter/obj/VSIXFineUIFormatter.csproj.nuget.g.targets
